[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[requires]
python_version = "3.5"

[packages]
mkdocs = "*"
mkdocs-material = "*"
pygments = "*"
pymdown-extensions = "*"

[dev-packages]
